@page
@model LoginModel

@{
    ViewData["Title"] = "Kirjaudu sisään";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="color: black">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label class="form-label">Sähköposti</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating" style="color: black">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label class="form-label">Salasana</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" style="color:white">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Muista kirjautuminen
                        </label>
                    </div>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Kirjaudu</button>
                </div>
               
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
