@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Salasana vaihdettu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Salasanasi on vaihdettu. Kirjaudu sisään <a asp-page="./Login">tästä</a>.
</p>
