@model List<RuokalistaServer.Models.Ruokalista>
@{
    ViewData["Title"] = "Listaa ruokalistat";

}

<h1>Kaikki ruokalistat</h1>

 <table class="table" style="color:white;">
  <tr>
    <th>Viikko ja vuosi</th>
    <th></th>
  </tr>
    @foreach(var viikko in Model)
    {
     <tr>
            <td><a href="/@viikko.Year/@viikko.WeekId"><h3>Viikko @viikko.WeekId</h3></a> <p>@viikko.Year</p></td>
            <td>
                <a class="btn btn-primary" href="/@viikko.Year/@viikko.WeekId">Ruokalista</a>

                <a class="btn" style="background-color: forestgreen; color: white; margin: 0.3em 0.3em 0.3em 0.3em;" href="/Kasvisruokalista/@viikko.Year/@viikko.WeekId">Kasvisruokalista</a>
                </td>
      
      </tr>
    }

  
</table> 
