html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #cb8300;
    border-color: #cb8300;
}

.btn-primary:hover {
        color: #fff;
        background-color: #ffa500;
        border-color: #ffa500;
}
.border-top {
    border-top: 1px solid #cb8300 !important
}

.footer-text {
    color: #cb8300;
}

.siteTitle {
    font-size: 3em
}

.dayTitle {
    font-size: 2em
}

.ruokaText {
    font-size: 1.9em
}