@page
@model IndexModel
@{
    ViewData["Title"] = "Profiili";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" style="color: black" class="text-danger"></div>
            <div class="form-floating" style="color: black">
                <input asp-for="Username" class="form-control" disabled />
                <label class="form-label">Käyttäjäni</label>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
