@model RuokalistaServer.Models.BackgroundForWeek

@{
    ViewData["Title"] = "Vaihda taustakuva";
}

<h1>Vaihda taustakuva</h1>

<h4>Viikko @Model.WeekId/@Model.Year</h4>

<hr />
<div class="row">
    <div class="col-md-4" style="width:60%">
        <p>Jos taustakuvaa ei ole valittu, valitaan se automaattisesti valitun viikon alkaessa</p>
        <form asp-action="SetBG">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="WeekId" />
            <a class="btn btn-primary" asp-action="NewRandomBG" asp-route-id="@Model.Id">🏞️ Arvo uusi taustakuva</a>
            <br />
            <div class="form-group">
                <label  class="control-label">Tiedostonimi</label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <br />
            

            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Takaisin</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
