@using Newtonsoft.Json
@using RuokalistaServer.Models;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tilastot";
}


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet" href="/css/aanestys.css">
<script src="/js/aanestys.js"></script>
<link rel="stylesheet" href="/css/tilastot.css">
<script src="/js/tilastot.js"></script>


<div>

</div>
<div class="date-container">
    <div class="title">
        <h1>Tilastot</h1>
        
    </div>
    <div class="input-container">
        <div>Aikaväli</div>
        <input type="text" name="datetimes" />
    </div>
</div>

<br />
<noscript>
    <h1>Tämä sivu vaatii selaimen javascript tuella toimiakseen</h1>
</noscript>

<div class="contentBody" id="contentBody">

</div>

<script type="text/javascript">

    var contentBody = document.getElementById('contentBody');

    

    const startTime = new Date(2023, 0 , 1)
    const endTime = new Date();

    $('input[name="datetimes"]').daterangepicker({
        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": "OK",
            "cancelLabel": "Peruuta",
            "fromLabel": "Mistä",
            "toLabel": "Minne",
            "customRangeLabel": "Omavalintainen",
            "weekLabel": "V",
            "daysOfWeek": [
                "Ma",
                "Ti",
                "Ke",
                "To",
                "Pe",
                "La",
                "Su"
            ],
            "monthNames": [
                "Tammikuu",
                "Helmikuu",
                "Maaliskuu",
                "Huhtikuu",
                "Toukokuu",
                "Kesäkuu",
                "Heinäkuu",
                "Elokuu",
                "Syyskuu",
                "Lokakuu",
                "Marraskuu",
                "Joulukuu"
            ],
            "firstDay": 0
        },
        "showCustomRangeLabel": false,
        "linkedCalendars": false,
        "showDropdowns": true,
        "minYear": 2023,
        "showWeekNumbers": true,
        ranges: {
            'Tämä viikko': [moment().startOf('week'), moment().endOf('week')],
            'Viime viikko': [moment().startOf('week').subtract(7, 'days'), moment().startOf('week').subtract(1, 'days')],
            'Tämä kuukausi': [moment().startOf('month'), moment().endOf('month')],
            'Viime kuukausi': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            'Tämä vuosi': [moment().startOf('year'), moment().endOf('year')],
            'Kaikki': [moment({ year: 2023, month: 0, day: 0 }), moment()]
        },
        "alwaysShowCalendars": true,
        "startDate": formatDateForURL(startTime),
        "endDate": formatDateForURL(endTime),
        "opens": "left"
    }, function (start, end, label) {
        create_tulostaulu(contentBody, start, end)
    });


   


    create_tulostaulu(contentBody, startTime, endTime)
</script>