
@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Äänestystulokset";
}

<link rel="stylesheet" href="/css/faq.css">
<script src="/js/faq.js"></script>

<link rel="stylesheet" href="/css/aanestys.css">
<script src="/js/aanestys.js"></script>
<script>
    

    document.addEventListener("DOMContentLoaded", function () {
        main(0);
        var index = 0;
        // Wait for the DOM content to be fully loaded
        const button = document.querySelector(".moreResults");
        button.addEventListener("click", function () {
            index += 10;
            main(index);
            
        });
    });
</script>

@if (!ViewBag.isApp)
{
    <h2>Ruokien äänestystulokset</h2>

    <section class="faq-container">
        <div class="faq-one">

            <!-- faq question -->
            <h3 class="faq-page">Mikä tämä sivu on?</h3>

            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    Tällä sivulla on näkyvissä joka viikon ja jokaisen ruoan äänestystulokset. Voit itse äänestää päivän ruokaa joka päivän Isonkyrön koulukeskuksen ruokalassa olevan äänestysautomaatin(Kuva alla) avulla, valitsemalla 4 vaihtoehdosta sen jonka koet parhaaksi.
                    Jos haluat tietää lisää miten äänestyspääte toimii, voit lukea siitä <a href="https://github.com/ArttuKuikka/RuokalistaAanestyspaate">TÄÄLÄ</a>
                </p>
                <img src="/aanestyspaate.png" style="width: 100%; max-width: 400px;" />

            </div>
        </div>
        <hr class="hr-line">
    </section>
}

<br />

<div id="aanestysDiv" class="aanestysContent">
</div>

<br />
<div style="justify-content: center; text-align:center;">
    <button class="btn btn-primary moreResults" >Lataa lisää tuloksia</button>
    </div>
    <br />
