
@{
    ViewData["Title"] = "Äänestystulokset";
}

<link rel="stylesheet" href="/css/faq.css">
<script src="/js/faq.js"></script>

<link rel="stylesheet" href="/css/aanestys.css">
<script src="/js/aanestys.js"></script>

<h2>Ruokien äänestystulokset</h2>

<section class="faq-container">
    <div class="faq-one">

        <!-- faq question -->
        <h3 class="faq-page">Mikä tämä sivu on?</h3>

        <!-- faq answer -->
        <div class="faq-body">
            <p>
               Tällä sivulla on näkyvissä joka viikon äänestystulokset
            </p>
            
        </div>
    </div>
    <hr class="hr-line">
</section>
<br />

<div id="aanestysDiv" class="aanestysContent">
</div>