@using Newtonsoft.Json
@using RuokalistaServer.Models;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tulostaulu";
}


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" href="/css/aanestys.css">
<script src="/js/aanestys.js"></script>
<link rel="stylesheet" href="/css/tulostaulu.css">
<script src="/js/tulostaulu.js"></script>


<div>

</div>
<div class="date-container">
    <div class="title">
        <h1>Tulostaulu</h1>
        
    </div>
    <div class="input-container">
        <div>Aikaväli</div>
        <input type="text" name="datetimes" />
    </div>
</div>

<br />

<div class="contentBody" id="contentBody">

</div>

<script type="text/javascript">

    var contentBody = document.getElementById('contentBody');

    $('input[name="datetimes"]').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "OK",
            "cancelLabel": "Peruuta",
            "fromLabel": "Mistä",
            "toLabel": "Minne",
            "customRangeLabel": "Omavalintainen",
            "weekLabel": "V",
            "daysOfWeek": [
                "Ma",
                "Ti",
                "Ke",
                "To",
                "Pe",
                "La",
                "Su"
            ],
            "monthNames": [
                "Tammikuu",
                "Helmikuu",
                "Maaliskuu",
                "Huhtikuu",
                "Toukokuu",
                "Kesäkuu",
                "Heinäkuu",
                "Elokuu",
                "Syyskuu",
                "Lokakuu",
                "Marraskuu",
                "Joulukuu"
            ],
            "firstDay": 1
        },
        "linkedCalendars": false,
        "showDropdowns": true,
        "minYear": 2022,
        "showWeekNumbers": true,
        ranges: {
            'Viimeiset 7 päivää': [moment().subtract(6, 'days'), moment()],
            'Viimeiset 30 päivää': [moment().subtract(29, 'days'), moment()],
            'Tämä kuukausi': [moment().startOf('month'), moment().endOf('month')],
            'Viime kuukausi': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        "alwaysShowCalendars": true,

        "opens": "left"
    }, function (start, end, label) {
        create_tulostaulu(contentBody, start, end)
    });


    const today = new Date();
    const dayOfWeek = today.getDay();
    const diffMonday = today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1); // Adjust for Sunday
    const diffFriday = diffMonday + 4;

    const friday = new Date(today.setDate(diffFriday));
    const monday = new Date(today.setDate(diffMonday));


    create_tulostaulu(contentBody, monday, friday)
</script>